.footer {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;

  &-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  &-right {
    justify-content: flex-end;
  }

  &-expence {
    padding: 20px 20px 40px 20px;
  }
}
